@model List<Employee>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Employee List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Employee" asp-action="AddOrEdit" class="btn btn-primary">Create new
                <img src="~/assests/AddImage.png" alt="View" class="img-fluid img-icon add" />
            </a>
        </div>
    </div>
    
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Age</th>
            <th>Position</th>
            <th>Salary</th>
            <th>Mobile No</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>
                <td>@employee.EmployeeId</td>
                <td>@employee.EmployeeName</td>
                <td>@if(employee.EmployeeGender=='M')
                    {
                        <span>Male</span>
                    }else if(employee.EmployeeGender=='F')
                    {
                        <span>Female</span>
                    }
                </td>
                <td>@employee.EmployeeBirthDate.ToString("dd-MMM-yyyy")</td>
                <td>@employee.EmployeeAge</td>
                <td>@employee.PositionName</td>
                <td>@employee.EmployeeSalary</td>
                <td>@employee.EmployeeMobileNumber</td>
                <td><img src="@employee.EmployeeImageUrl" height="100" width="100" /></td>

                <td>
                    <a asp-action="Details" asp-route-id="@employee.EmployeeId">
                        <img src="~/assests/ViewImage.png" alt="View" class="img-fluid img-icon" />
                    </a>
                    <a asp-action="AddOrEdit" asp-route-id="@employee.EmployeeId">
                        <img src="~/assests/EditImage.png" alt="View" class="img-fluid img-icon" />
                    </a>
                    <a asp-action="Delete" asp-route-id="@employee.EmployeeId">
                        <img src="~/assests/DeleteImage.png" alt="View" class="img-fluid img-icon" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<style>
    .img-icon {
        width: 20px;
        height: 20px;
    }

    .img-icon .add{
        -webkit-filter: invert(100%);
        filter:invert(100%);
    }

    .img-icon:hover{
        transform: scale(1.1);
        filter: invert(50%);
    }

    a{
        text-decoration: none;
    }
</style>